@font-face{
	font-family: "M";
	src:  url("../font/Modric.ttf");
}


.wrapper{
	grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: repeat(3, 5vw);
    display: grid;
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 1000px;
    height: 100px;
}

.win1{
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 3;
}


.win2{
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 3;
}

.background{
	z-index: -2;
	position: fixed;
	width: 100%;
	height: 100%;
	background-size: cover;
	mix-blend-mode: screen;
	animation: rainbow 1s;
 	animation-timing-function: linear;
 	animation-iteration-count: infinite;

}
@keyframes rainbow {
  from {filter: hue-rotate(0);}
  to {filter: hue-rotate(360deg);}
}



.spongebob{
	height:30%;
	z-index: -1;
	position: absolute;
	top: 50%;
	left: 25%;
	position: fixed;
	background-size:cover;

}
.gary{
	height:30%;
	z-index: -1;
	position: absolute;
	top: 20%;
	left: 15%;
	position: fixed;
	background-size:cover;

}
.shrimp{
	height:30%;
	z-index: -1;
	position: absolute;
	top: 70%;
	left: 5%;
	position: fixed;
	background-size:cover;

}
.squidward{
	height:30%;
	width: auto;
	position: absolute;
	top: 60%;
	left: 65%;
	position: fixed;
	background-size:cover;
}
.patrick{
	height:30%;
	width: auto;
	position: absolute;
	top: 30%;
	left: 75%;
	position: fixed;
	background-size:cover;
}

.music{
	position: absolute;
	opacity: 0.1;
	grid-column-start: 2;
	grid-column-end: 4;
	right: 310px;
	top: 20px;
}
